*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ddd;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    min-height: 400px;    
    background-color: #fff;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.box h2{
    width: 100%;
    margin: 10px auto 20px;
    text-align: center;
    color: #f7479d;
    text-transform: uppercase;
}

.box form{
    width: 100%;
    height: 100%;
}

.box input{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
}
.box input[type=text]{
    border-bottom: 2px solid #999;
}
.box input[type=text]:focus{
    box-shadow: none;
    outline: none;
}
.box input[type=submit]{
    background-color: #f7479d;
    color: #fff;
    box-shadow: none;
    outline: none;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
}

.box form div{
    position: relative;
}

.box label{
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.5s;
    color: #999;
    pointer-events: none;
}

.box input[type=text]:focus ~ label,
.box input[type=text]:valid ~ label{
    top: -12px;
    color: #f7479d;
    font-size: 12px;
    font-weight: bold;
}

.box input[type=text]:focus,
.box input[type=text]:valid{
    border-bottom: 2px solid #f7479d;
}
